[user]
	name = Keita Mori
	email = keita011@gmail.com
[color]
  ui = auto
[core]
  editor = /usr/bin/vim
	excludesfile = /Users/keita/.gitignore_global
	precomposeunicode = true
	quotepath = false
[merge]
  keepBackup = false;
  tool = p4merge
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[diff]
#  external = p4diff
[alias]
  nffmerge = merge --no-ff
  logg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
[heroku]
  account = personal
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
